@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    outline: none;
    box-sizing: border-box;
    
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin {
    animation: spin 1s linear infinite;
  }
  
  ::-webkit-scrollbar {
    width: 12px;
  }
  


  
  ::-webkit-scrollbar-track {
    background-color: #9a9a9a;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #222961;
    transition: all 0.5s ease-in-out;
    
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #131739;
  
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 768px) {
    ::-webkit-scrollbar {
      display: none;
    }
  }